/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #80d8ff; /* 明るくてかわいい水色 */
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #e0f7ff; /* 薄い水色背景 */
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
  font-family: "Arial", sans-serif;
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
  padding-bottom: 0.3em;
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
  padding-left: 0;
}
li:before {
  content: "★";
  color: var(--theme-color);
  margin-right: 0.3em;
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
  margin-bottom: 20px;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}

